<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFTCService" />
                <binding name="BasicHttpBinding_IBank_Service" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57447/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IFTCService" contract="FTC_Service.IFTCService"
                name="BasicHttpBinding_IFTCService" />
            <endpoint address="http://localhost:57447/Bank_Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBank_Service" contract="Bank_Service.IBank_Service"
                name="BasicHttpBinding_IBank_Service" />
        </client>
    </system.serviceModel>
</configuration>